body, html {
  width: 100%;
  height: 100%;
  background-color: #111111;
  border: 0;
  margin: 0;
  padding: 0;
}

.instrument {
  height: calc((97vh / 3) - 1rem / 3);
  margin: 0 auto;
}


.instrument-panel {
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 0.5rem;
}
